<div class="container-fluid footer mt-5">
  <div class="row">
    <div class="col-lg-5 mt-3 mb-3">
      <h1>LandingPageWeb</h1>
      <p style="font-size: 10px">GOOD HEALT , GOOD FOOD</p>
    </div>
    <!-- nav -->
    <div class="col-lg-5 mt-3 mb-3">
      <a routerLink="">Home</a>
      <a routerLink="menu">Menu</a>
      <a routerLink="about">About</a>
      <a routerLink="contact">Contact</a>
    </div>
    <!-- sosmed -->
    <div class="col-lg-2">
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-whatsapp"></i></a>
      <a href=""><i class="bi bi-youtube"></i></a>
      <a href=""><i class="bi bi-line"></i></a>
    </div>
  </div>
</div>
